<div id="<%= dom_id order_summary %>">
  <p>
    <strong>Customer name:</strong>
    <%= order_summary.customer_name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= order_summary.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= order_summary.price %>
  </p>

  <p>
    <strong>Item count:</strong>
    <%= order_summary.item_count %>
  </p>

  <p>
    <strong>Merchant address:</strong>
    <%= order_summary.merchant_address %>
  </p>

  <p>
    <strong>Merchant name:</strong>
    <%= order_summary.merchant_name %>
  </p>

</div>
